# Virtual Environments
*_env/
venv/
env/
ENV/
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log

# Local configuration
.env.local
.env.development.local
.env.test.local
.env.production.local